.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: var(--background);
    color: var(--text);
    border-radius: 5px;
    box-shadow: 0 3px 0 0 var(--box-shadow);
    transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

h1, 
h2 {
    margin: 0;
    text-transform: uppercase;
    font-family: fantasy;
    letter-spacing: 2px;
    font-weight: normal;
}

p {
    margin: 5px 0;
    font-style: italic;
    color: var(--text-faded);
    font-family: sans-serif;
    font-size: 22px;
}

.wrapper span {
    font-style: italic;
    font-family: sans-serif;
    font-size: 14px;
}

b {
    display: inline-block;
    background: var(--badge-background);
    padding: 2px 10px;
    border-radius: 2px;
    color: var(--badge-color);
}

/* ------------ ☀️ / 🌒 Switch Toggle ------------ */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 25px;
    font-size: 150%;
}

.toggle:before {
    content: '☀️';
}

.toggle.active:before {
    content: '🌒';
}

.toggle.animate {
    animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* ------------ 🌊 wave effect ------------ */
.wave {
    position: absolute;
    top: 35px;
    right: 40px;
    border-radius: 100%;
    width: 2px;
    height: 2px;
    display: block;
    z-index: -1;
    box-shadow: 0 0 0 0 #212121;
    transition: box-shadow .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.wave.active {
    background: #212121;
    box-shadow: 0 0 0 9999px #212121;
}

@keyframes animate {
    0%   { transform: scale(1); }
    50%  { transform: scale(0); }
    100% { transform: scale(1); }
}